<!DOCTYPE html>
<html lang="en">
   <head>
         <meta charset="utf-8">
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Best Hikes Around Washington</title>
      {% load static %}
      <link href="https://fonts.googleapis.com/css?family=Lemonada" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Damion" rel="stylesheet">
      <link rel="stylesheet" href="{% static 'Hikes/css/index.css' %}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
          <script src="{% static 'Hikes/js/index.js' %}"></script>
          <script src="{% static 'Hikes/js/nav.js' %}"></script>
   </head>
   <body>
      <div id="wrapper">
         <header>
            <h1 class="ml6">
               <span class="text-wrapper">
                 <span class="letters">Best Hikes Around Washington</span>
               </span>
             </h1>
         </header>
         <div class="topnav" id="myTopnav">
            <a href="/">HOME</a>
            <a href="/weather">WEATHER</a>
            <a href="/gallery">GALLERY</a>
            <a href="/video">VIDEOS</a>
            <a href="/_map">MAP</a>
            <a class="active" href="/about">ABOUT</a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
              <i class="fa fa-bars"></i>
            </a>
          </div>
         <h2>Hiking</h2>
         <p>
            Hiking, walking in nature as a recreational activity. Especially among those with sedentary occupations, hiking
            is a natural exercise that promotes physical fitness, is economical and convenient, and requires no special
            equipment. Because hikers can walk as far as they want, there is no physical strain unless they walk among hills
            or mountains.
         </p>
         <div>
            <img class="photo" src="{% static 'Hikes/images/hike.jpg' %}">
         </div>
         <p>
            Many persons walk alone, mainly on weekends or holidays, but youth clubs and other groups arrange rambles, or
            hikes. The normal length of the walk undertaken is 7 to 12 miles (11 to 19 km) for a half day or 12 to 20 miles
            (19 to 32 km) for a full day. Those organized rambles, combining exercise with enjoyment of the countryside, are
            in country districts surrounding large towns and follow a planned route. Most densely populated European towns
            have hiking trails outside them.
         </p>
         <p>For regular and intensive walkers there are available services offered by such associations as the Ramblers'
            Association in Great Britain and the Wilderness Society in the United States. Those organizations encourage
            hiking and preserve footpaths, bridle paths, and rights of way in parkland and recognized open spaces in areas
            of natural beauty against the encroachment of builders, local authorities, and national undertakings. They also
            help hikers to obtain hostel accommodation and, by exchange of information and services, enable persons of one
            country to pursue these activities in others. The Appalachian Trail Conference (U.S.), with the aid of its
            member organizations in 14 states, maintains campsites and a trail more than 2,000 miles (3,200 km) long between
            Mount Katahdin in Maine and Mount Oglethorpe in Georgia; it publishes information on conditions of the camps and
            trail.
         </p>
         <p>Hiking is basic to many sporting activities and is also a widely recommended and practiced form of physical
            training. For example, hiking constitutes a large part of mountain climbing; experienced mountaineers know that
            they must train themselves for the long, arduous hikes over the lower trails and across glaciers and snowfields.
            Backpack camping, hunting, cross-country skiing and snowshoeing, and orienteering are other sports and sporting
            activities in which hiking is important. The ability to walk considerable distances without becoming overtired
            (an ability generally acquired through practice) also enhances the enjoyment of such other activities as
            bird-watching, nature walks, field trips of all sorts, and even sightseeing.
         </p>
         <p>Hiking is used as a test of fitness, notably in England, where it is embraced in the duke of Edinburgh's scheme
            for boys and girls, and in Sweden and the Netherlands. In Sweden it was made a national fitness test in the
            early 1930s, and by the 1970s more than three million Swedish men, women, and boys possessed the time
            qualification badge. The Nijmegen marches in the Netherlands, organized by the Dutch League of Physical Culture,
            are open to the world in both civilian and military categories. The test comprises four separate days'
            consecutive walking over distances up to 35 miles (56 km) each day, with about 12,000 persons taking part.
         </p>
         <br>
         <a id="back2Top" title="Back to top" href="#">&#10148;</a>
      </div>
            <footer>
               copyright &copy; 2020 Hike Production
            </footer>
      <script src="{% static 'Hikes/js/headerAnimation.js' %}"></script>
   </body>
</html>