<!DOCTYPE html>
<html lang="en">
   <head>
         <meta charset="utf-8">
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Best Hikes Around Washington</title>
      {% load static %}
      <link href="https://fonts.googleapis.com/css?family=Lemonada" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Damion" rel="stylesheet">
      <link rel="stylesheet" href="{% static 'Hikes/css/gallery.css' %}">
      <link rel="stylesheet" type="text/css" media="screen"
         href="http://cdnjs.cloudflare.com/ajax/libs/fancybox/1.3.4/jquery.fancybox-1.3.4.css"/>
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <script
         src="https://code.jquery.com/jquery-3.4.1.min.js"
         integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
         crossorigin="anonymous"></script>
      <script src="{% static 'Hikes/js/index.js' %}"></script>
      <script src="{% static 'Hikes/js/nav.js' %}"></script>
   </head>
   <body>
      <div id="wrapper">
         <header>
            <h1>Best Hikes Around Washington</h1>
         </header>
         <div class="topnav" id="myTopnav">
            <a href="/">HOME</a>
            <a href="/weather" >WEATHER</a>
            <a class="active" href="/gallery">GALLERY</a>
            <a href="/video">VIDEOS</a>
            <a href="/_map" >MAP</a>
            <a href="/about">ABOUT</a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
              <i class="fa fa-bars"></i>
            </a>
          </div>
          <div class="flexBox">
            <div><a>
               <img class="fancybox" src="{% static 'Hikes/images/ebey.jpg' %}" title="Ebey's Landing (Whidbey Island)"
                  alt="ebey" width="265" height="200"/>
               </a></div>
            <div><a>
               <img class="fancybox" src="{% static 'Hikes/images/ebey2.jpg' %}" title="Ebey's Landing (Whidbey Island)"
                  alt="ebey2" width="265" height="200"/>
               </a></div>
            <div><a>
               <img class="fancybox" src="{% static 'Hikes/images/mount.jpg' %}" title="Summerland (Mt. Rainier National Park)"
                  alt="mount" width="265" height="200"/>
               </a></div>
            <div><a>
               <img class="fancybox" src="{% static 'Hikes/images/mt.jpg' %}" title="Mt. Pilchuck (Mountain Loop Highway)"
                  alt="mt" width="265" height="200"/>
               </a></div>
            <div><a>
               <img class="fancybox" src="{% static 'Hikes/images/mt2.JPG' %}" title="Mt. Pilchuck (Mountain Loop Highway)"
                  alt="mt2" width="265" height="200"/>
               </a></div>
            <div><a>
               <img class="fancybox" src="{% static 'Hikes/images/rattle.jpg' %}" title="Rattlesnake Ledge (Snoqualmie Pass)"
                  alt="rattle" width="265" height="200"/>
               </a></div>
            <div><a>
               <img class="fancybox" src="{% static 'Hikes/images/si.jpg' %}" title="Little Si and Mount Si (Snoqualmie Pass)"
                  alt="si" width="265" height="200"/>
               </a></div>
            <div><a>
               <img class="fancybox" src="{% static 'Hikes/images/Rattlesnake.jpg' %}" title="Rattlesnake Ledge (Snoqualmie Pass)"
                  alt="rattle2" width="265" height="200"/>
               </a></div>
            <div><a>
               <img class="fancybox" src="{% static 'Hikes/images/pic3.jpg' %}" title="Mt. Pilchuck (Mountain Loop Highway)"
                  alt="pic3" width="265" height="200"/>
               </a></div>
            <div><a>
               <img class="fancybox" src="{% static 'Hikes/images/pic1.jpg' %}" title="Poo Poo Point" alt="pic1" width="265"
                  height="200"/>
               </a></div>
            <div><a>
               <img class="fancybox" src="{% static 'Hikes/images/pic2.jpg' %}" title="Poo Poo Point" alt="pic2" width="265"
                  height="200"/>
               </a></div>
            <div><a>
               <img class="fancybox" src="{% static 'Hikes/images/si3.jpg' %}" title="Little Si and Mount Si (Snoqualmie Pass)"
                  alt="si3" width="265" height="200"/>
               </a></div>
            <div><a>
               <img class="fancybox" src="{% static 'Hikes/images/ebey.jpg' %}" title="Ebey's Landing (Whidbey Island)" alt="pic1"
                  width="265" height="200"/>
               </a></div>
            <div><a>
               <img class="fancybox" src="{% static 'Hikes/images/si.jpg' %}" title="Little Si and Mount Si (Snoqualmie Pass)"
                  alt="pic2" width="265" height="200"/>
               </a></div>
            <div><a>
               <img class="fancybox" src="{% static 'Hikes/images/si2.jpg' %}" title="Little Si and Mount Si (Snoqualmie Pass)"
                  alt="si2" width="265" height="200"/>
               </a></div>
          </div>
         </div>
         <br>
         <a id="back2Top" title="Back to top" href="#">&#10148;</a>
         <footer>
            copyright &copy; 2020 Hike Production
         </footer>
         <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
         <script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
         <script type="text/javascript"
            src="http://cdnjs.cloudflare.com/ajax/libs/fancybox/1.3.4/jquery.fancybox-1.3.4.pack.min.js"></script>
         <script type="text/javascript">
            $(function ($) {
                var addToAll = false;
                var gallery = true;
                var titlePosition = 'inside';
                $(addToAll ? 'img' : 'img.fancybox').each(function () {
                    var $this = $(this);
                    var title = $this.attr('title');
                    var src = $this.attr('data-big') || $this.attr('src');
                    var a = $('<a href="#" class="fancybox"></a>').attr('href', src).attr('title', title);
                    $this.wrap(a);
                });
                if (gallery)
                    $('a.fancybox').attr('rel', 'fancyboxgallery');
                $('a.fancybox').fancybox({
                    titlePosition: titlePosition
                });
            });
            $.noConflict();
         </script>
      </div>
   </body>
</html>