<!DOCTYPE html>
<html lang="en">
   <head>
         <meta charset="utf-8">
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title> Best Hikes Around Washington </title>
      {% load static %}
      <link href="https://fonts.googleapis.com/css?family=Lemonada" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Damion" rel="stylesheet">
      <link rel="stylesheet" href="{% static 'Hikes/css/index.css' %}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <script
         src="https://code.jquery.com/jquery-3.4.1.min.js"
         integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
         crossorigin="anonymous"></script>
      <script src="{% static 'Hikes/js/index.js' %}"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <script src="https://maps.googleapis.com/maps/api/js?{{mapKey}}"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
      <script type="text/javascript" src="{% static 'Hikes/js/map.js' %}"></script>
      <script src="{% static 'Hikes/js/nav.js' %}"></script>




      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
   </head>
   <body>
      <div id="wrapper">
         <header>
            <h1 class="ml6">
               <span class="text-wrapper">
                 <span class="letters">Best Hikes Around Washington</span>
               </span>
             </h1>
         </header>
         <div class="topnav" id="myTopnav">
            <a href="/">HOME</a>
            <a href="/weather">WEATHER</a>
            <a href="/gallery">GALLERY</a>
            <a href="/video">VIDEOS</a>
            <a class="active" href="/_map">MAP</a>
            <a href="/about">ABOUT</a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
              <i class="fa fa-bars"></i>
            </a>
          </div>
      
         <div id="error"></div>
         <h2>Calculate your route</h2>
         <div class="container">
            <form id="calculate-route" action="#" name="calculate-route" method="get"> 
              <div class="row">
                <div class="col-25">
                  <label for="from">From:</label>
                </div>
                <div class="col-75">
                  <input type="text" id="from" name="from" required="required"  placeholder="An address">
                </div>
              </div>
              <div class="row">
                <div class="col-25">
                  <label for="to">To:</label>
                </div>
                <div class="col-75">
                  <input type="text" id="to" name="to" required="required" placeholder="Another address">
                </div>
              </div>
              <div class="row">
                <input class = "button" type="submit" value="Submit">
                <input class = "button" type="reset" />
              </div>
            </form>
          </div>
    <div id="mapArea"></div>
    <div id="textDirections"></div>
    <a id="back2Top" title="Back to top" href="#">&#10148;</a>
  </div>
           <footer>
              copyright &copy; 2020 Hike Production
           </footer>
      <script src="{% static 'Hikes/js/headerAnimation.js' %}"></script>
   </body>
</html>