<!DOCTYPE html>
<html lang="en">
   <head>
      <title> Best Hikes Around Washington </title>
      {% load static %}
      <link href="https://fonts.googleapis.com/css?family=Lemonada" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Damion" rel="stylesheet">
      <link rel="stylesheet" href="{% static 'Hikes/css/index.css' %}">
      <script
         src="https://code.jquery.com/jquery-3.4.1.min.js"
         integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
         crossorigin="anonymous"></script>
      <script src="{% static 'Hikes/js/index.js' %}"></script>
      <script src="https://maps.googleapis.com/maps/api/js?secretkey"></script>
      <script type="text/javascript" src="{% static 'Hikes/js/map.js' %}"></script>
   </head>
   <body>
      <div id="wrapper">
         <header>
            <h1>Best Hikes Around Washington</h1>
         </header>
         <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/weather">WEATHER</a></li>
            <li><a href="/gallery">GALLERY</a></li>
            <li><a href="/video">VIDEOS</a></li>
            <li><a href="/_map" class="active">MAP</a></li>
            <li><a href="/about">ABOUT</a></li>
         </ul>
         <div id="error"></div>
         <div class="search">
            <input type = 'text' id ="destination" name= "city" placeholder="Enter your destination">
            <button id="btnPath">Search</button>
         </div>
         <div id="mapArea"></div>
         <a id="back2Top" title="Back to top" href="#">&#10148;</a>
         <footer>
            copyright &copy; 2019 Hike Production
         </footer>
      </div>
   </body>
</html>