<!DOCTYPE html>
<html lang="en">
   <head>
         <meta charset="utf-8">
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title> Best Hikes Around Washington </title>
      {% load static %}
      <link href="https://fonts.googleapis.com/css?family=Lemonada" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Damion" rel="stylesheet">
      <link rel="stylesheet" href="{% static 'Hikes/css/index.css' %}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
      <script src="{% static 'Hikes/js/index.js' %}"></script>
      <script src="{% static 'Hikes/js/nav.js' %}"></script>
          
   </head>
   <body>
      <div id="wrapper">
         <header>
            <h1 class="ml6">
               <span class="text-wrapper">
                 <span class="letters">Best Hikes Around Washington</span>
               </span>
             </h1>
         </header>
         <div class="topnav" id="myTopnav">
            <a href="/">HOME</a>
            <a href="/weather" >WEATHER</a>
            <a href="/gallery">GALLERY</a>
            <a class="active" href="/video">VIDEOS</a>
            <a href="/_map" >MAP</a>
            <a href="/about">ABOUT</a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
              <i class="fa fa-bars"></i>
            </a>
          </div>
          <h2>How to prepare for a hike</h2>
         <p>
            Attitude, in every phase of the thru-hike process, is as important as any physical, logistical or technological
            element. From the first weeks of planning your pilgrimage, to your first and last days on the trail, maintaining
            an open mind and a resilient attitude in dealing with obstacles is crucial.
            More than anything, a continued focus on taking small steps in the direction of the goal, is your most potent
            weapon in confronting mishap, fear, doubt and weariness.
         </p>
         <div class="video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/TiJXfyQjPX4?ecver=1"
               frameborder="0" allowfullscreen></iframe>
         </div>
         <br>
         <h2>Tips on hiking mechanics</h2>
         <p>Shorten your stride on uphills to save your hip flexors</p>
         <p>Shorten your stride on downhills to keep your center of mass over your lead foot and avoid slips outs</p>
         <p>Lace your shoes properly to minimize blisters that are produced by foot movement in the shoe</p>
         <p>Use trekking poles to lighten the impact on your knees
         </p>
         <div class="video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/FcBlGb0qgS8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
         </div>
         <br>
         <a id="back2Top" title="Back to top" href="#">&#10148;</a>
      </div>
            <footer>
               copyright &copy; 2020 Hike Production
            </footer>
      <script src="{% static 'Hikes/js/headerAnimation.js' %}"></script>
   </body>
</html>