<!DOCTYPE html>
<html lang="en">
   <head>
         <meta charset="utf-8">
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title> Best Hikes Around Washington </title>
      {% load static %}
      <link href="https://fonts.googleapis.com/css?family=Lemonada" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Damion" rel="stylesheet">
      <link rel="stylesheet" href="{% static 'Hikes/css/index.css' %}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <script
         src="https://code.jquery.com/jquery-3.4.1.min.js"
         integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
         crossorigin="anonymous"></script>
      <script src="{% static 'Hikes/js/index.js' %}"></script>
      <script src="{% static 'Hikes/js/weather.js' %}"></script>
      <script src="{% static 'Hikes/js/nav.js' %}"></script>
   </head>
   <body>
      <div id="wrapper">
         <header>
            <h1>Best Hikes Around Washington</h1>
         </header>
         <div class="topnav" id="myTopnav">
            <a href="/">HOME</a>
            <a href="/weather" class="active">WEATHER</a>
            <a href="/gallery">GALLERY</a>
            <a href="/video">VIDEOS</a>
            <a href="/_map" >MAP</a>
            <a href="/about">ABOUT</a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
              <i class="fa fa-bars"></i>
            </a>
          </div>

         <h2 id="head">Get Current Weather Information</h2>
         <span id="error"></span>
         <div class="search">
            <input type = 'text' id ="city" name= "city" placeholder="Enter a city name">
            <button id="submitCity">Search</button>
         </div>
         <div id = 'showWeather'></div>
         <br>
         <a id="back2Top" title="Back to top" href="#">&#10148;</a>
         <footer>
            copyright &copy; 2020 Hike Production
         </footer>
      </div>
   </body>
</html>