@media screen and (max-width: 980px) {
    body #wrapper {
        width: auto;
        /* background-color: red; */
    }

    body header {
        margin-left: auto;
        width: auto;
        
    }
   body header > h1 {
        font-size: 15px;
        line-height: 180px;
    }

    body #head {
        width: auto;
    }

    body footer {
        width: auto;
    }
}

/* header */
header {
    background-image: url(../images/pic2.jpg);
    width: auto;
    height: 200px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: groove;
    border-radius: 25px 0px 25px;
}

header > h1 {
    font-family: 'Damion', cursive;
    font-size: 40px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    color: #FFFFFF;
    text-shadow: 2px 2px #2C2C2C;
    line-height: 125px;
    text-align: center;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    /* The typwriter cursor */
   white-space: nowrap; /* Keeps the content on a single line */
   letter-spacing: .10em; /* Adjust as needed */
   animation: 
     typing 3.5s steps(40, end),
     blink-caret .75s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }

/* wrapper */
#wrapper {
    width: 900px;
    /* height: 100%; */
    background-color: #404040;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    border-radius: 25px;
    border: groove;

}

h2 {
    color: white;
    text-align: center;
}

body {
    color: #666666;
    background-image: url(../images/pic2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-color: #f0f0f1;

}

p {
    font-size: 20px;
    text-align: center;
    color: white;
}

/* home */
.photo {
    position: relative;
    top: 50%;
    right: -25%;
    max-width: 50%;
    max-height: 50%;
    border-radius: 25px;
    border: groove;

}

/* footer */
footer {
    clear: both;
    color: #ffffff;
    background-color: #404040;
    margin-left: auto;
    margin-right: auto;
    height: 20px;
    width: 900px;
    font-size: 100%;
    border-radius: 25px 0px 25px;
    border: groove;
    text-align: center;
}

/* gallery */
a.fancybox img {
    /* width: 266px; 
    height:240px; 
    margin: 10px;  */
    margin: 5px;
    border: 5px solid #D6DBDF;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.6);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

a.fancybox:hover img {
    position: relative;
    z-index: 999;
    -o-transform: scale(1.03, 1.03);
    -ms-transform: scale(1.03, 1.03);
    -moz-transform: scale(1.03, 1.03);
    -webkit-transform: scale(1.03, 1.03);
    transform: rotate(-15deg) scale(1.5);
}

.flexBox {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;
}

/* .flexBox > div {
    
    width: 100px; 
    height:100px; 
    margin: 10px; 
    font-size: 40px; 
} */



#back2Top {
    width: 40px;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: fixed;
    bottom: 50px;
    right: 50px;
    background-color: #DDD;
    color: #555;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
    border-radius: 0px 10px 10px 0px;
    border: solid;
}
#back2Top:hover {
    background-color: #DDF;
    color: #000;
}

/* navigation bar */ 

.topnav {
    overflow: hidden;
    background-color: #333;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Lemonada', cursive;
    
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: grey;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
