

.login {
    text-align: right;
    height: 20px;
    font-size: 20px;
    font-family: 'Lemonada', cursive;
}

.login a {
    text-decoration: none;
    color: #eee;
}

.login a:hover {
    color: grey;
}


.button {
    text-decoration: none;
    text-align: center;
    font-family: sans-serif;
    background-color: #2C2C2C;
    color: white;
    font-size: 13px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 25px 0px 25px;
}

.button:hover {
    background-color: #080808;
}


/* wrapper */
#wrapper {
    width: 900px;
    height: 100%;
    /* background-color: #404040; */
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}

h2 {
    color: white;
    text-align: center;
}

body {
    color: #666666;
    background-image: url(../images/pic2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-color: #f0f0f1;

}

p {
    font-size: 20px;
    text-align: center;
    color: white;
}


/* home */
.photo {
    position: relative;
    top: 50%;
    right: -25%;
    max-width: 50%;
    max-height: 50%;
    border-radius: 25px;
    border: groove;

}

/* footer */
footer {
    clear: both;
    color: #ffffff;
    background-color: #404040;
    margin-left: auto;
    margin-right: auto;
    height: 20px;
    width: 900px;
    font-size: 100%;
    border-radius: 25px 0px 25px;
    border: groove;
    text-align: center;
    
}

/* registration */
form.register {
    width: 40%;
    margin: 0px auto;
    padding: 20px;
    border: 1px solid #B0C4DE;
    background: #404040;
    border-radius: 0px 0px 10px 10px;
    border: groove;
    color: white;
    font-size: 20px;
    font-family: 'Lemonada', cursive;
}

.input-group {
    margin: 10px 0px 10px 0px;
}

.input-group label {
    display: block;
    text-align: left;
    margin: 3px;
}

.input-group input {
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
}

.input-group select {
    height: 30px;
    width: 97%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
}


.btn {
    padding: 10px;
    font-size: 15px;
    color: white;
    background: #404040;
    border: groove;
    border-radius: 5px;
}

.btn:hover {
    background-color: #666;
    border: 1px solid #FFFFFF;
    color: #fff;
}

.error {
    width: 35%;
    margin-left: 30%;
    padding: 10px;
    border: 1px solid #a94442;
    color: #a94442;
    background: #f2dede;
    border-radius: 5px;
    text-align: center;
    list-style-type:none;
}

/* error */
/* .error {
    width: 92%;
    margin: 0px auto;
    padding: 10px;
    border: 1px solid #a94442;
    background: #f2dede;
    border-radius: 5px;
    text-align: left;
} */

.error p {
    font-family: sans-serif;
    color: #ff2c27;
}

